
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Shop Name</p>
                <div class="list-group">
                    
                    
<!-- <label>View products</label>
<div class="checkbox">
    <label>
      <input type="checkbox"  ng-model="qy" ng-change = display()  >Product List 
    </label>
  </div></br> -->

<label>Price</label>
<div class="checkbox">
    <label>
      <input type="checkbox"  ng-model="query[1]" ng-true-value='2000' ng-change = setValue(0,2000)  >Rs 2000 and Below 
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox"  ng-model="query[2000]" ng-true-value='3000' ng-change = setValue(2000,3000) >Rs 2000 - Rs 3000 
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox"  ng-model="query[3000]" ng-true-value='4000' ng-change =setValue(3000,4000) >Rs 3000 - Rs 4000
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox"  ng-model="query[4000]" ng-true-value='5000' ng-change=setValue(4000,6000)> Rs 4000 and Above 
    </label>
  </div></br>

 
<label>Brand</label>

<div class="checkbox" ng-controller="BrandCtrl" >
    <label ng-repeat="category in data track by $index">
    <input type="checkbox" ng-model="filters[category.brand]"  ng-change=searchbrand()  > {{category.brand}} </br></br></label>
  </div>


 <!-- <div class="checkbox" ng-controller="BrandCtrl" >
    <label ng-repeat="category in data track by $index">
    <input type="checkbox" ng-model="filters[category.brand]"  ng-change=searchbrand(filters[category.brand],category.brand)    > {{category.brand}} </br></br></label>
  </div> -->
 

 <label>Sort By</label>
  <div class="checkbox">
    <label>
     <input type="radio" name="sort" ng-model="sort" value='ASC' ng-click=sortOrder() >Low Price 
    </label>
    
  </div>

<div class="checkbox">
    <label>
      <input type="radio" name="sort" ng-model="sort" value='DESC'  ng-click=sortOrder()>High Price 
    </label>
     
  </div>


                </div>
            </div>

            <div class="col-md-9">

               
                <div class="row">
                   
                    <div class="col-sm-4 col-lg-4 col-md-4" ng-repeat="user in data.data1" >
                        <div class="thumbnail">
                            <img ng-src="{{user.image}}" alt="comming soon" style="width:60px;min-height:150px"/>
                             
                            <div class="caption">
                                <h5 class="pull-right" ng-model='price'>Price:{{user.price}}</h5>
                                <h5><label ng-model='product'>{{user.Product_name}}</label>
                                </h5>
                                <p>See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                      </div>
                        
                           <div class="btn-group pull-right">
                        <ul class="pagination">
                                        <li ng-repeat="i in getNumber(myNumber) track by $index" ng-hide='false'>
                                          <a href="#" ng-click=getPage($index)>{{$index + 1}}</a></li> 
                                    </ul>
                                     </div>
                       </br></br>         
                                     
                              


                </div>

            </div>

        </div>

    </div>
    
   